<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show article</title>
  </head>
  <body>
    <div class="card-panel #18ffff cyan accent-2">
      <p>
        <strong>Title:</strong>
        <%= @article.title %>
      </p>

      <p>
        <strong>Text:</strong>
        <%= @article.text %>
      </p>
    </div>
  </body>
</html>
