<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <div class="card-panel #18ffff cyan accent-2">
      <h1>Welcome to blogTastic!</h1>
      <h2>A place for blogaholics to come together.</h2>
      <div class="btn-large waves-effect #ff4081 pink accent-2">
        <span class="white-text text-darken-2"><%= link_to 'New Article', new_article_path %></span>
      </div>
    </div>
  </body>
</html>
